@font-face {
    font-family: 'AktivGrotesk';
    src: url('./assets/font/AktivGrotesk-Medium.eot') format('embedded-opentype'), url('./assets/font/AktivGrotesk-Medium.woff2') format('woff2'), url('./assets/font/AktivGrotesk-Medium.woff') format('woff'), url('./assets/font/AktivGrotesk-Medium.ttf') format('truetype'), url('./assets/font/AktivGrotesk-Medium.svg#AktivGrotesk-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'AktivGrotesk';
    src: url('./assets/font/AktivGrotesk-Regular.eot') format('embedded-opentype'), url('./assets/font/AktivGrotesk-Regular.woff2') format('woff2'), url('./assets/font/AktivGrotesk-Regular.woff') format('woff'), url('./assets/font/AktivGrotesk-Regular.ttf') format('truetype'), url('./assets/font/AktivGrotesk-Regular.svg#AktivGrotesk-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'AktivGrotesk';
    src: url('./assets/font/AktivGrotesk-Light.eot') format('embedded-opentype'), url('./assets/font/AktivGrotesk-Light.woff2') format('woff2'), url('./assets/font/AktivGrotesk-Light.woff') format('woff'), url('./assets/font/AktivGrotesk-Light.ttf') format('truetype'), url('./assets/font/AktivGrotesk-Light.svg#AktivGrotesk-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'AktivGrotesk';
    src: url('./assets/font/AktivGrotesk-Thin.eot') format('embedded-opentype'), url('./assets/font/AktivGrotesk-Thin.woff2') format('woff2'), url('./assets/font/AktivGrotesk-Thin.woff') format('woff'), url('./assets/font/AktivGrotesk-Thin.ttf') format('truetype'), url('./assets/font/AktivGrotesk-Thin.svg#AktivGrotesk-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: block;
}

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: none;
}

:focus {
	outline: none;
}

::-moz-focus-inner {
	border: 0;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html {
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: subpixel-antialiased;
}

html * {
	max-height: 1000000px;
}

p, h1, h2, h3, h4 {
	display: block;
	position: relative;
}

div, a, span {
	position: relative;
}

body {
	font-family: 'AktivGrotesk', Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.4;
	color: #242426;
	font-weight: 300;
	margin: 0;
}

.cleaner {
	width: 100%;
	clear: both;
	float: none;
	font-size: 1px;
	line-height: 1px;
	height: 0px;
}
